.LogoSearch{
    display: flex;
    gap: 0.75rem;
    
}
.search{
    display: flex;
    background-color: rgb(241, 207, 194);
    border-radius: 10px;
    padding: 5px;
    height: 23px;
    position: absolute;
    bottom: 30px;
    left: 120px;
    top: 70px;
    
    
}
.search>input{
    background-color:transparent ;
    border: none;
    outline: none;
}
.s-icon:hover{
    cursor: pointer;
}